extends layout

block content
    
    .w3-container 
    h1 Diodes
    .w3-display-container.w3-animate-opacity
      img(src='images/indiodes.jpg', alt='boat', style='width:100%;min-height:200px;max-height:300px;')
      
      .w3-row-padding.w3-center(style='margin-top:70px')
      .w3-center
      p.w3-large Different Types of Relays by composition
      p
      | Different semiconductor diode types can be used to perform different functions as a result of the properties of these different diode types. Semiconductor diodes can be used for many applications. The basic application is obviously to rectify waveforms. This can be used within power supplies or within radio detectors. Signal diodes can also be used for many other functions within circuits where the "one way" effect of a diode may be required.
      .container
    .w3-row-padding.w3-center(style='margin-top:70px')
    .w3-quarter
      p
      a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.electronicshub.org/types-of-diodes/') Types of Diodes
    .w3-quarter
      p
       a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.radio-electronics.com/info/data/semicond/diodes/types-of-diodes.php') Extra Info
    .w3-quarter
      p
      a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.shindengen.co.jp/product_e/semi/index.html') Item Shop Reference