extends layout

block content

	.w3-container 
	h1 Switches
	.w3-display-container.w3-animate-opacity
	img(src='images/elecswitch.jpg', alt='boat', style='width:100%;min-height:250px;max-height:450px;')
	p
	| In electrical engineering, a switch is an electrical component that can "make" or "break" an electrical circuit, interrupting the current or diverting it from one conductor to another.The mechanism of a switch removes or restores the conducting path in a circuit when it is operated. It may be operated manually, for example, a light switch or a keyboard button, may be operated by a moving object such as a door, or may be operated by some sensing element for pressure, temperature or flow.
	.container
	.w3-row-padding.w3-center(style='margin-top:70px')
	.w3-quarter
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='https://www.allaboutcircuits.com/textbook/digital/chpt-4/switch-types/') Types of Switch
	.w3-quarter
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.thomasnet.com/articles/electrical-power-generation/types-of-switches') Electrical Switches
	br
	br

	.w3-container 
	h1 Power Supply
	.w3-display-container.w3-animate-opacity
	img(src='images/psu.jpg', alt='boat', style='width:100%;min-height:250px;max-height:450px;')
	p
	| A power supply is an electronic device that supplies electric energy to an electrical load. The primary function of a power supply is to convert one form of electrical energy to another and, as a result, power supplies are sometimes referred to as electric power converters. Some power supplies are discrete, stand-alone devices, whereas others are built into larger devices along with their loads. Examples of the latter include power supplies found in desktop computers and consumer electronics devices. Every power supply must obtain the energy it supplies to its load, as well as any energy it consumes while performing that task, from an energy source. Depending on its design, a power supply may obtain energy from various types of energy sources, including electrical energy transmission systems, energy storage devices such as a batteries and fuel cells, electromechanical systems such as generators and alternators, solar power converters, or another power supply.
	br
	br

	.w3-container
	h1 Wires
	.w3-display-container.w3-animate-opacity
	img(src='images/elecwire.jpg', alt='boat', style='width:100%;min-height:250px;max-height:450px;')
	p
	| A wire is a single, usually cylindrical, flexible strand or rod of metal. Wires are used to bear mechanical loads or electricity and telecommunications signals. Wire is commonly formed by drawing the metal through a hole in a die or draw plate. Wire gauges come in various standard sizes, as expressed in terms of a gauge number. The term wire is also used more loosely to refer to a bundle of such strands, as in "multistranded wire", which is more correctly termed a wire rope in mechanics, or a cable in electricity. Wire comes in solid core, stranded, or braided forms. Although usually circular in cross-section, wire can be made in square, hexagonal, flattened rectangular, or other cross-sections, either for decorative purposes, or for technical purposes such as high-efficiency voice coils in loudspeakers. Edge-wound[1] coil springs, such as the Slinky toy, are made of special flattened wire.
	.container
	.row
	.w3-quarter
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='https://www.electronics-notes.com/articles/electronic_components/cables/cable-wire-types.php') Types of Wires
	.w3-quater
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='https://www.allaboutcircuits.com/textbook/reference/chpt-2/wiring-color-codes/') Color Coding
	br
	br
	br

	.w3-container
	h1 Capacitors
	.w3-display-container.w3-animate-opacity
	img(src='images/capacitor.jpg', alt='boat', style='width:100%;min-height:250px;max-height:450px;')
	p
	| A capacitor is a passive two-terminal electrical component that stores electrical energy in an electric field.[1] The effect of a capacitor is known as capacitance. While capacitance exists between any two electrical conductors of a circuit in sufficiently close proximity, a capacitor is specifically designed to provide and enhance this effect for a variety of practical applications by consideration of size, shape, and positioning of closely spaced conductors, and the intervening dielectric material. A capacitor was therefore historically first known as an electric condenser.
	.container
	.row
	.w3-quarter
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.robotoid.com/appnotes/electronics-capacitor-markings.html') Extra Info
	.w3-quater
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://electronics.howstuffworks.com/capacitor.htm') How it Works
	.w3-quater
	p
	a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.electronics-tutorials.ws/capacitor/cap_5.html') Color Codes

