extends layout

block content
    
    .w3-container 
    h1 The Relay
    .w3-display-container.w3-animate-opacity
      img(src='images/therelay.jpg', alt='boat', style='width:100%;min-height:250px;max-height:450px;')

      .w3-row-padding.w3-center(style='margin-top:70px')
      .container.w3-half
      p.w3-large Different Types of Relays and their working principle
      p
      | Relays are the primary protection as well as switching devices in most of the control processes or equipments. All the relays respond to one or more electrical quantities like voltage or current such that they open or close the contacts or circuits. A relay is a switching device as it works to isolate or change the state of an electric circuit from one state to another.
      .w3-half
      p
      a.w3-btn.w3-blue.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='https://www.elprocus.com/different-types-of-relays-used-in-protection-system-and-their-workings/') Learn More At
      .container
      .w3-row-padding.w3-center(style='margin-top:64px')
      .w3-half
      p.w3-large Different Types of Relays by composition
      p
      | Relays are electrically actuated devices that act as switches. When the relay's coil receives sufficient voltage, its relay contact switch closes, turning the device connected to it on. When the voltage is shut off, the relay's switch opens, turning the device connected to it off.
      .w3-half 
      p
      a.w3-btn.w3-blue.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.learningaboutelectronics.com/Articles/Types-of-relays') Learn More At
      .container
      .w3-row-padding.w3-center(style='margin-top:64px')
      .w3-center
      p.w3-large How Relay works
      p
      | Relays itself is just a switch, the link provided will show you an example on how it works.
      .w3-center
      p
      a.w3-btn.w3-blue.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.tldp.org/HOWTO/Home-Electrical-Control/relay.html') Learn More At

      .w3-center
      p.w3-large Example of Electronic Projects that uses relays
      .w3-center
      p
      a.w3-btn.w3-blue.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://www.tldp.org/HOWTO/Home-Electrical-Control/relay.html') Learn More At


      
