extends layout

block content
  .w3-container 
    h1 Transistors
    .w3-display-container.w3-animate-opacity
      img(src='images/letransistor.jpg', alt='boat', style='width:100%;min-height:250px;max-height:450px;')

      .w3-row-padding.w3-center(style='margin-top:70px')
      .container.w3-center
      p
      | A semiconductor device with three connections, capable of amplification in addition to rectification. A transistor is a device that regulates current or voltage flow and acts as a switch or gate for electronic signals. Transistors consist of three layers of a semiconductor material, each capable of carrying a current.
    .container
    .w3-row-padding.w3-center(style='margin-top:70px')
    .w3-quarter
      p
      a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://alltransistors.com/') Link for a Transistor List
    .w3-quarter
      p
      a.w3-btn.w3-black.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='http://alltransistors.com/') How it works